/node_modules
/.vite
/public/build
/public/hot
/vendor
/storage/*.key
/storage/pail
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
.env
.env.*
!.env.example
.phpunit.result.cache
/.phpunit.cache
/.vscode
/.idea
/.fleet
/.nova
/.zed
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
composer.lock
/public/storage
/auth.json
/coverage
