{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "html"
            }
        },
        {
            "files": [
                "*.js",
                "*.jsx"
            ],
            "options": {
                "parser": "babel"
            }
        }
    ]
}