.dashboardAdmin{
    display: flex;
}

.dasboardAdmin aside{
    position: fixed;
    flex: 1;
}

.dashboardAdmin main{
    flex: 3;
    margin-left: 200px;
    padding: 20px;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.adminChartContainer{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}