.newsPageContainer{
    display: flex;
    margin: 50px;
}

.newsContentContainer{
    flex:3;
}

.newsPageContainer aside{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}